In [2]:
%%chart --help

usage: %%chart [-h]
               {annotation,area,bars,bubbles,calendar,candlestick,columns,combo,gauge,geo,heatmap,histogram,line,map,org,paged_table,pie,sankey,scatter,stepped_area,table,timeline,treemap}
               ...

Generate an inline chart using Google Charts using the data in a Table, Query,
dataframe, or list. Numerous types of charts are supported. Options for the
charts can be specified in the cell body using YAML or JSON.

positional arguments:
  {annotation,area,bars,bubbles,calendar,candlestick,columns,combo,gauge,geo,heatmap,histogram,line,map,org,paged_table,pie,sankey,scatter,stepped_area,table,timeline,treemap}
                        commands
    annotation          Generate a annotation chart.
    area                Generate a area chart.
    bars                Generate a bars chart.
    bubbles             Generate a bubbles chart.
    calendar            Generate a calendar chart.
    candlestick         Generate a candlestick chart.
    columns             Generate a columns chart.
    combo               Generate a combo chart.
    gauge               Generate a gauge chart.
    geo                 Generate a geo chart.
    heatmap             Generate a heatmap chart.
    histogram           Generate a histogram chart.
    line                Generate a line chart.
    map                 Generate a map chart.
    org                 Generate a org chart.
    paged_table         Generate a paged_table chart.
    pie                 Generate a pie chart.
    sankey              Generate a sankey chart.
    scatter             Generate a scatter chart.
    stepped_area        Generate a stepped_area chart.
    table               Generate a table chart.
    timeline            Generate a timeline chart.
    treemap             Generate a treemap chart.

optional arguments:
  -h, --help            show this help message and exit
None

In [4]:
%%chart heatmap -h

usage: %%chart heatmap [-h] [-f FIELDS] -d DATA

Generate a heatmap chart.

optional arguments:
  -h, --help            show this help message and exit
  -f FIELDS, --fields FIELDS
                        The field(s) to include in the chart
  -d DATA, --data DATA  The name of the variable referencing the Table or
                        Query to chart
None

In [8]:
import pandas as pd
import io
import requests

url = "https://firms.modaps.eosdis.nasa.gov/active_fire/c6/text/MODIS_C6_Russia_and_Asia_24h.csv"
modis = pd.read_csv(io.StringIO(requests.get(url).content.decode('utf-8')))

modis[:5]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight
0,48.169,30.634,308.3,1.9,1.3,2018-04-12,40,A,74,6.0NRT,280.1,29.4,N
1,48.165,30.627,304.6,1.9,1.3,2018-04-12,40,A,61,6.0NRT,280.6,22.9,N
2,9.786,125.491,318.3,1.1,1.1,2018-04-12,205,T,0,6.0NRT,301.9,9.3,D
3,9.987,122.806,323.4,1.7,1.3,2018-04-12,205,T,52,6.0NRT,286.7,25.0,D
4,49.754,131.869,304.3,1.6,1.2,2018-04-12,155,T,46,6.0NRT,270.1,17.3,D